html * {
    font-family: "Muli", Arial, Helvetica, sans-serif;
}

a {
    font-weight: 600;
    color: #00629b;
}

a:hover {
  opacity: 0.7;
  transition: all .5s;
  text-decoration: none;
}

.btn {
   border-radius: 3rem;
   padding: 0.325rem 1.5rem;
   transition: all .5s;
}

.btn-primary {
    background-color: #00c1d5;
    color: #fff;
      border: 2px solid #00c1d5;
}

.btn-primary:hover {
  opacity: 0.7;
  background-color: #00c1d5;
  border: 2px solid #00c1d5;
}

.btn-outline-info {
    border-radius: 3rem;
    padding: 0.325rem 1.5rem;
    background: none;
    border: 2px solid #00c1d5;
    color: #00c1d5;
    box-sizing: border-box;
}

.btn-outline-info:hover {
    opacity; 1!important;
    background-color: #00c1d5;
    color: #fff;
    border: 2px solid #00c1d5;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

img.resize75 {
  max-width:75%;
  max-height:75%;
}

body {
    margin: 2%;
}

p {
  line-height: 2;
}

label.error {
    color: #FC8900;
}


.active, .breadcrumb-item.active {
  background-color: inherit;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion
{
    background-color: #eee;
    color: #000;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 14px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #747678;
    color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
    padding-bottom: 0%;
    padding-left: 1%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
