{% extends "sitebase.jinja2" %}
{% set page_title = "Account" %}
{% set show_breadcrumbs = True %}
{% set show_logout = True %}
{% block head %}
    <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/js/jquery.validate.min.js"></script>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Account</li>
{% endblock %}
{% block content %}
  
    <h4>Sources</h4>
    <div class="container">
        {%  if sources|length > 0 %}
        Choose a source to assign samples to by clicking on a name, listed in blue below:
        <div class="list-group">
            <br>
            <div class="row">
                <div class="col-sm">
                    <i>Name</i>
                </div>
                <div class="col-sm">
                    <i>Source type</i>
                </div>
            </div>
            {% for source in sources %}
            <div class="container list-group-item {{loop.cycle('odd', 'even') }}">
              <div class="row">
                <div class="col-sm">
                      <a class="btn btn-outline-info" href="/accounts/{{account.account_id}}/sources/{{ source.source_id|e }}">
                      {{ source.source_name|e}}
                  </a>
                </div>
                <div class="col-sm">
                  {{source.source_type|e}}
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        
        <div class="source selection">   <br> <h2 class="center">What is the Source of Your Sample?</h2><br>
 <div class="card-deck">
      <div class="card"><div class="card-body">

      <p class="card-text">Our lab needs to know what type of sample(s) you are submitting (a.k.a. the “source”) . Add a new source and link sample(s) to it so we can perform the correct analysis in our laboratory.
    </p><hr>
    <p class="card-text">If you have multiples sources, you may add one source at a time. You can return to this page after you finish registering the first one.</p></div>
    </div>
  
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Human Source</h4><br>
      <p class="card-text">•  Collect sample(s) from <b>yourself</b> (e.g. fecal, saliva, skin prick, etc.)<br>
    • Collect sample(s) from <b>someone else</b> (fecal, saliva, skin, prick, etc.)</p>
      <div class="center"><div class="center"><a href="/accounts/{{ account.account_id }}/create_human_source" class="btn btn-primary btn-lg" href="#" role="button">Select</a></div></div>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Environmental Source</h4><br>
      <p class="card-text">•  Collect sample(s) from a surface (e.g. kitchen counter, backyard soil, food, etc.)</p>
    <div class="center"><a href="/accounts/{{ account.account_id }}/create_nonhuman_source" class="btn btn-primary btn-lg" href="#" role="button">Select</a></div>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Animal Source</h4><br>
      <p class="card-text">•  Collect sample(s) from your pet or an animal (e.g. fecal, oral, skin, etc.)
<br>
          <b>This source is currently unavailable.</b></p>
      <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Select</a>
    </div>
  </div>
</div>

        </div>
</div>
{% endblock %}
